//! Font

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museo Sans Cyrl 100.woff2'), url('../fonts/Museo Sans Cyrl 100.woff');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museo Sans Cyrl 300.woff2'), url('../fonts/Museo Sans Cyrl 300.woff');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museo Sans Cyrl 700.woff2'), url('../fonts/Museo Sans Cyrl 700.woff');
  font-display: swap;
  font-style: normal;
}

//! Reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input[type='text'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='color'],
input[type='email'],
input[type='password'] {
  width: 100px;
  height: 100px;
  font: 400 16px sans-serif;
  padding: 0 22px;
  border-radius: 6px;
  border: 1px solid #c7d7df;
  color: #000;
  &::placeholder {
    color: #898989;
  }
  &::-moz-placeholder {
    color: #898989;
  }
}

input.input-error {
  border-color: #a94442;
  &::placeholder {
    color: #a94442;
  }
  &::-moz-placeholder {
    color: #a94442;
  }
}

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px;
}

button,
input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  border: none;
  color: #000;
  width: 100%;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Museo Sans Cyrl', sans-serif;
  background: #ffffff;
  letter-spacing: -0.24px;
  height: 100vh;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a img {
  border: none;
  outline: none;
}

a {
  display: inline-block;
  font: inherit;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

//! Container

.container {
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 944px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 660px;
  overflow: hidden;
  background: url('../images/bg.png') 50% / cover no-repeat;

  @media screen and (max-width: 991px) {
    background: url('../images/bg.png') 0% / cover no-repeat;
    height: 100%;
  }
}

$gradient: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 64, 6, 1) 100%);

//! Header

.header {
  border: 1px solid rgb(49, 48, 51);
  color: #fff;
  &__body {
    display: flex;
    position: relative;
    justify-content: space-between;
    @media (max-width: 991.98px) {
      align-items: center;
    }
  }
  &__logo {
    border-left: 1px solid rgb(49, 48, 51);
    border-right: 1px solid rgb(49, 48, 51);
    display: inline-block;
    position: relative;
    padding: 25px 15px 0px 25px;
    width: 314px;
    height: 98px;
    @media screen and (max-width: 1300px) {
      width: 229px;
      height: 80px;
    }

    @media (max-width: 767px) {
      width: 200px;
      height: 50px;
      padding: 15px 10px 0px 15px;
    }
  }
  &__logo-burger {
    position: absolute;
    left: -100%;
    transition: left 1s;
    height: 30px;
    opacity: 0;

    &.active {
      transition: left 1s;
      position: absolute;
      left: 20px;
      z-index: 22;

      @media screen and (max-width: 991px) {
        top: 20px;
        opacity: 1;
      }

      @media screen and (max-width: 767px) {
        top: 10px;
      }
    }
  }
  &__menu {
    display: flex;
    padding-left: 20px;
    @media (max-width: 991px) {
      z-index: 5;
      position: fixed;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      opacity: 0;
      overflow: auto;
      background-color: #12131b;
      transition: all 1s ease 0s;
      justify-content: center;

      &.active {
        opacity: 1;
        padding: 100px 0px 0px 0px;
        margin-top: 0px;
        top: 0;
        left: 0;
        justify-content: center;
        transition: all 1s ease 0s;
      }
    }
  }
  &__burger {
    display: none;
    @media (max-width: 991px) {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 10;
      & span {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 8px;
        left: 0;
        border-radius: 10px;
        background-color: #fff;
        transition: 300ms;
      }
      &::before,
      &::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: 300ms;
        border-radius: 10px;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &.active::before {
        transform: rotate(45deg);
        top: 8px;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      &.active span {
        display: none;
      }
    }
  }

  &__list {
    @media (min-width: 991px) {
      display: flex;
      column-gap: 41px;
      align-items: center;
      flex-wrap: wrap;
    }
    @media (max-width: 1300px) {
      column-gap: 27px;
    }
    @media (max-width: 991px) {
      & > *:not(last-child) {
        margin-bottom: 30px;
      }

      li {
        text-align: center;
      }
    }
  }

  &__link {
    font-size: 16px;
    line-height: 131%;
    color: #fff;
    &:hover {
      opacity: 0.21;
      padding-bottom: 11px;
      border-bottom: 1px solid #3d3d3d;
    }

    @media screen and (max-width: 991px) {
      font-size: 18px;
    }
  }
}
.top-left {
  position: absolute;
  top: 0;
  left: -1px;
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #fff;
  padding: 3px;
}
.top-right {
  position: absolute;
  top: 0;
  right: -1px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: #fff;
  padding: 3px;
}
.bottom-left {
  position: absolute;
  bottom: 0;
  left: -1px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: #fff;
  padding: 3px;
}
.bottom-right {
  position: absolute;
  bottom: 0;
  right: -1px;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #fff;
  padding: 3px;
}

//! Preview
.preview {
  padding-top: 38px;
  color: #fff;

  @media screen and (max-width: 1300px) {
    padding-top: 57px;
  }

  @media screen and (max-width: 991px) {
    padding: 0;
  }

  &__body {
    display: flex;
    justify-content: space-between;

    position: relative;
    &:before {
      content: '';
      display: inline-block;
      width: 390px;
      height: 390px;
      position: absolute;
      left: calc(50% + 2px);
      transform: translateX(-50%);
      top: 0px;
      background: url(../images/sun.png) no-repeat;
      z-index: 2;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 18px;
      height: 98px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 14px;
      background: url(../images/rocket.png) no-repeat;
      z-index: 2;
      transition: 1000ms;
    }

    &.active {
      &::after {
        bottom: 700px;
      }
    }

    &.active {
      .travel__line {
        opacity: 0;
      }
    }

    @media screen and (max-width: 991px) {
      &::before,
      &::after {
        display: none;
      }

      flex-direction: column;
      align-items: center;
    }
  }

  &__travel {
    position: relative;

    @media screen and (min-width: 1300px) {
      &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 394px;
        top: 0px;
        background: url(../images/fon_.png) no-repeat;
        z-index: 2;
      }
    }

    @media screen and (min-width: 1920px) {
      &::before {
        display: none;
      }
    }
  }
}

.travel {
  &__block {
    padding-top: 79px;

    @media screen and (max-width: 991px) {
      text-align: center;
    }

    p {
      text-transform: none;
      font-family: '300', sans-serif;
      font-size: 25px;
      margin-bottom: 64px;
      color: transparent;
      background: $gradient;
      background-clip: border-box;
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media screen and (max-width: 1300px) {
        font-size: 23px;
        margin-bottom: 44px;
      }
    }
  }

  &__line {
    transition: 300ms;
    position: relative;
    right: -53.8%;
    top: 33px;

    @media screen and (max-width: 1300px) {
      right: -73.8%;
      top: 27px;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 342px;
      height: 2px;
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 1;
      background: rgb(58, 56, 64);
      background: linear-gradient(
        90deg,
        rgba(58, 56, 64, 1) 0%,
        rgba(174, 153, 156, 1) 39%,
        rgba(255, 252, 252, 1) 100%
      );
      z-index: 3;

      @media screen and (max-width: 1300px) {
        width: 232px;
      }
    }

    &:after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 80px;
      position: absolute;
      opacity: 1;
      left: -29px;
      top: -67px;
      transform: rotate(-45deg);
      background: rgb(21, 19, 27);
      background: linear-gradient(
        90deg,
        rgba(21, 19, 27, 1) 0%,
        rgba(21, 19, 27, 1) 40%,
        rgba(58, 56, 64, 1) 100%
      );
    }
    span {
      position: relative;
      width: 100%;
      transition: 300ms;
      &:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        position: absolute;
        border-radius: 50%;
        right: -348px;
        top: -2px;
        z-index: 3;
        background: #fff;

        @media screen and (max-width: 1300px) {
          right: -237px;
        }
      }

      &::after {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        position: absolute;
        border-radius: 50%;
        right: -347px;
        top: -1px;
        z-index: 3;
        background: #000;

        @media screen and (max-width: 1300px) {
          right: -236px;
        }
      }
    }
  }

  &__title {
    color: transparent;
    background: $gradient;
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 58px;
    text-transform: uppercase;
    font-family: '700', sans-serif;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1300px) {
      font-size: 42px;
    }

    @media screen and (max-width: 991px) {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }

  &__button {
    color: #fff;
    font-family: '100', sans-serif;
    font-size: 14px;
    display: inline-block;
    position: relative;
    padding: 10px 24px;
    overflow: hidden;
    transition: 300ms;

    position: relative;
    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      transition: 300ms;
      background: transparent;
      opacity: 0.3;
    }

    &:hover {
      &::after {
        background: rgb(53, 64, 82);
        background: linear-gradient(
          90deg,
          rgba(53, 64, 82, 1) 0%,
          rgba(6, 14, 25, 1) 35%,
          rgba(53, 64, 82, 1) 100%
        );
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1.5em;
      height: 100%;
      transform: translateX(-3em) skewX(-45deg);
    }

    @media screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  &__button--opacity {
    opacity: 0.8;
  }
  &__button--top,
  &__button--right,
  &__button--buttom,
  &__button--left {
    position: absolute;
    display: block;
  }
  &__button--top {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #036bf4);
  }

  &__button--right {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #036bf4);
  }

  &__button--buttom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(-90deg, transparent, #036bf4);
  }

  &__button--left {
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #036bf4);
  }
}

.corner1,
.corner2,
.corner3,
.corner4 {
  position: absolute;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 0 5px 1px #fff;
  z-index: 1;
  border-width: 1px 1px 0px 0px;
}

.corner1 {
  top: 0;
  right: 0;
  width: 5px;
}
.corner2 {
  top: 0;
  right: 0;
  height: 5px;
}
.corner3 {
  bottom: 0;
  left: 0;
  width: 5px;
}
.corner4 {
  bottom: 0;
  left: 0;
  height: 5px;
}
.aboutus {
  &__block {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &__column1,
  &__column2,
  &__column3,
  &__column4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 25%;
    height: 185px;
    position: relative;
    &:hover {
      cursor: pointer;
    }

    & p {
      font-family: '100', sans-serif;
      font-size: 16px;
    }
    & h2 {
      font-family: '700', sans-serif;
      font-size: 60px;
      padding: 5px 0;

      @media screen and (max-width: 1300px) {
        font-size: 46px;
      }
    }
    & span {
      font-size: 20px;
      font-family: '700', sans-serif;
    }

    @media screen and (max-width: 1300px) {
      height: 160px;
    }
  }

  &__column1 {
    background: linear-gradient(120deg, rgba(2, 0, 36, 0) 60%, rgba(26, 34, 44, 0.8) 100%);

    &:hover {
      background-image: linear-gradient(
        120deg,
        rgba(2, 0, 36, 0) 60%,
        rgba(156, 181, 211, 0.3) 100%
      );
      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(21, 26, 37, 1) 10%,
          rgba(84, 89, 96, 0.6923144257703081) 36%
        );
      }
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(
          90deg,
          rgba(21, 26, 37, 0.006039915966386533) 40%,
          rgba(84, 89, 96, 0.6923144257703081) 99%
        );
      }
    }
  }
  &__column2 {
    background: linear-gradient(240deg, rgba(2, 0, 36, 0) 60%, rgba(26, 34, 44, 0.8) 100%);
    &:hover {
      background-image: linear-gradient(
        240deg,
        rgba(2, 0, 36, 0) 60%,
        rgba(156, 181, 211, 0.3) 100%
      );
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(21, 26, 37, 1) 10%,
          rgba(84, 89, 96, 0.6923144257703081) 36%
        );
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(
          90deg,
          rgba(21, 26, 37, 0.006039915966386533) 40%,
          rgba(84, 89, 96, 0.6923144257703081) 99%
        );
      }
    }
  }

  &__column3 {
    background: linear-gradient(60deg, rgba(2, 0, 36, 0) 60%, rgba(26, 34, 44, 0.8) 100%);
    &:hover {
      background-image: linear-gradient(
        60deg,
        rgba(2, 0, 36, 0) 60%,
        rgba(156, 181, 211, 0.3) 100%
      );
      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(
          90deg,
          rgba(21, 26, 37, 0.006039915966386533) 40%,
          rgba(84, 89, 96, 0.6923144257703081) 99%
        );
      }
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(21, 26, 37, 0.006039915966386533) 40%,
          rgba(84, 89, 96, 0.6923144257703081) 99%
        );
      }
    }
  }
  &__column4 {
    background: linear-gradient(-60deg, rgba(2, 0, 36, 0) 60%, rgba(26, 34, 44, 0.8) 100%);
    &:hover {
      background-image: linear-gradient(
        -60deg,
        rgba(2, 0, 36, 0) 60%,
        rgba(156, 181, 211, 0.3) 100%
      );
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(21, 26, 37, 1) 10%,
          rgba(84, 89, 96, 0.6923144257703081) 36%
        );
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(
          90deg,
          rgba(21, 26, 37, 0.006039915966386533) 40%,
          rgba(84, 89, 96, 0.6923144257703081) 99%
        );
      }
    }
  }
  &__items {
  }
}
